@charset "utf-8";

/* ----------全体---------- */
.zen-kurenaido-regular {
    font-family: "Zen Kurenaido", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.wrapper{
    max-width: 70%;
    margin: 0 auto;
}

/* ----------header---------- */
header{
    position: fixed;
    border-bottom: 1px solid lightgray;
    width: 100%;
    background-color: white;
    z-index: 50;
    top: 0;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.2rem;
    width: 100%;
    font-size: 2rem;
}

#header-logo{
    text-decoration: none;
    color: black;
    position: relative;
    user-select: none;
    transition: all .5s;
}

#header-logo:hover{
    transition: all 1s;
    letter-spacing: .1em;
}

/* ボタンを光らせる */
#logo-shine{
    content: "";
    position: fixed;

    background-color: white;
    width: 0rem;
    height: 3rem;
    overflow: hidden;
    opacity: .5;
}

#header-logo:hover #logo-shine{
    transition: all 1.5s;
    width: 6rem;
    background-color: black;
    opacity: 0;
}

/* ----------footer---------- */
/* 普通のfooter */
footer{
    padding: 1rem;
    background-color: gray;
    text-align: center;
    width: 100%;
}

/* 固定footer */
.bottom-footer{
    position: absolute;
    bottom: 0;
}

/* ----------ハンバーガーメニュー---------- */
/* 共通 */
.menu{
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 1rem;
    margin-top: .5rem;
    height: 2.5rem;
    width: 2.5rem;
    transition: all .5s;
    z-index: 550;
    border-radius: 50%;
    top: 0;
}

.menu span{
    background-color: black;
    margin: auto auto;
    width: 2rem;
    height: 2px;
    transition: all .5s;
    border-radius: 9999px;
}

.menu:hover{
    cursor: pointer;
    background-color: lightgray;
    border-radius: 5%;
}

#blackout{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    visibility: hidden;
    z-index: 500;
}

#blackout-background{
    position: absolute;
    background-color: black;
    opacity: .8;
    height: 100%;
    width: 100%;
}

#blackout ul{
    position: absolute;
    list-style: none;
}

#blackout li{
    margin: .75rem 1.5rem;
}

#blackout a{
    color: white;
    text-decoration: none;
    user-select: none;
    border-radius: 5px;
    padding: 0 .25rem;
}

#blackout a:hover{
    color: white;
    background-color: transparent;
}

/* 開いているとき */
#open-menu span:nth-child(1){
    rotate: 45deg;
    translate: 0 10.5px;
}
#open-menu span:nth-child(2){
    opacity: 0;
    margin: 0;
}
#open-menu span:nth-child(3){
    rotate: -45deg;
    translate: 0 -10.5px;
}

/* ----------main---------- */
/* 全体 */
main{
    margin-top: 3.2rem;
}

.section-title{
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;
}

.section{
    margin: 5rem auto;
}

/* ページ上部の画像 */
#top-image{
    width: 100%;
    height: 100%;
    pointer-events: none;
    user-select: none;
}

/* セクションimg-text */
#imgs-text{
    height: 100%;
    width: 100%;
}

/* ----------gallery---------- */

/* 画像 */
#gallery-image-list{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
}


#gallery-image-list li{
    position: relative;
    width: clamp(5rem, 20vw, 20vw);
    height: clamp(7rem, 22vw, 22vw);
    background-color: white;
    overflow: hidden;
    border: 1px solid darkgray;
    border-radius: 2%;
    margin: 0 auto;
}

#gallery-image-list a{
    position: absolute;
    width: 100%;
    height: 100%;
}

#gallery-image-list img{
    position: absolute;
    width: 102%;
    height: 102%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    user-select: none;
    transition-property: width;
    transition-duration: .3s;
}

#gallery-image-list li:hover img{
    cursor: pointer;
    width: 120%;
    transition-property: width;
    transition-duration: .4s;
    transition-timing-function: ease-out;
}

.image-bottom{
    position: absolute;
    width: 100%;
    height: clamp(1rem, 2vw, 4rem);
    bottom: 0;
    background-color: lightgray;
    transition-property: opacity, height, background-color;
    transition-duration: .5s, .3s, .3s;
    transition-timing-function: ease-in;
}

#gallery-image-list li:hover .image-bottom{
    height: clamp(7rem, 22vw, 22vw);
    opacity: .5;
    background-color: black;
    transition-duration: 1s, .3s;
    cursor: pointer;
}

/* ホバー時に見えるテキスト */
#gallery-image-list p{
    position: absolute;
    text-align: center;
    color: white;
    opacity: 0;
    width: 100%;
    top: 50%;
    translate: 0 -50%;
    z-index: 100;
    transition-property: opacity;
    transition-duration: .3s;
    user-select: none;
}

#gallery-image-list li:hover p{
    opacity: 1;
    transition-delay: .2s;
    transition-duration: .3s;
}

@media(max-width:768px){
    /* index */
    #gallery-image-list{
        grid-template-columns: repeat(2, 1fr);
    }

    #gallery-image-list li{
        width: 80%;
        height: 30vw;
    }

}