@charset "utf-8";

/* ----------全体---------- */
.zen-kurenaido-regular {
    font-family: "Zen Kurenaido", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.wrapper{
    max-width: 70%;
    margin: 0 auto;
}

/* ----------header---------- */
header{
    position: fixed;
    border-bottom: 1px solid lightgray;
    width: 100%;
    background-color: white;
    z-index: 50;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    width: 100%;
    font-size: 2rem;
}

#header-logo{
    text-decoration: none;
    color: black;
    position: relative;
    user-select: none;
    transition: all .5s;
}

#header-logo:hover{
    transition: all 1s;
    letter-spacing: .1em;
}

/* ボタンを光らせる */
#logo-shine{
    content: "";
    position: fixed;

    background-color: white;
    width: 0rem;
    height: 3rem;
    overflow: hidden;
    opacity: .5;
}

#header-logo:hover #logo-shine{
    transition: all 1.5s;
    width: 6rem;
    background-color: black;
    opacity: 0;
}

/* ----------ハンバーガーメニュー---------- */
/* 共通 */
.menu{
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 1rem;
    margin-top: .5rem;
    height: 2.5rem;
    width: 2.5rem;
    transition: all .5s;
    z-index: 100;
    border-radius: 50%;
}

.menu span{
    background-color: black;
    margin: auto auto;
    width: 2rem;
    height: 2px;
    transition: all .5s;
    border-radius: 9999px;
}

.menu:hover{
    cursor: pointer;
    background-color: lightgray;
    border-radius: 5%;
}

#blackout{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: .5;
    visibility: hidden;
    z-index: 50;
}

/* 開いているとき */
#open-menu span:nth-child(1){
    rotate: 45deg;
    translate: 0 10.5px;
}
#open-menu span:nth-child(2){
    opacity: 0;
    margin: 0;
}
#open-menu span:nth-child(3){
    rotate: -45deg;
    translate: 0 -10.5px;
}

/* ----------main---------- */
/* ページ上部の画像 */
#top-image{
    width: 100%;
    height: 100%;
    pointer-events: none;
    user-select: none;
    margin-top: 3rem;
}

/* セクションimg-text */
#imgs-text{
    margin-top: 5rem;
    height: 100%;
    width: 100%;
}

#imgs-text h1{
    text-align: center;
    width: 100%;
}

/* カルーセル */
/* 共通 */
#carousel{
    position: relative;
    height: 30vw;
    width: 100%;
    background-color: lightgray;
    margin: 2rem auto 0;
    border-radius: 5px;
}

#carousel ol{
    list-style: none;
}

/* 画像 */
#carousel-img{
    position: relative;
    border: 1px solid black;
    width: 35%;
    border-radius: 5px;
    margin: clamp(.1rem, 2vw, 1rem);
}

#carousel-content{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
}

#carousel-img-list{
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/ 1;
    /* overflow: hidden; */
}

#carousel-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center bottom;
}

#carousel-img li{
    width: 100%;
    height: 100%;
}

/* 最初の一枚だけを表示 */

#carousel-img-list li{
    display: none;
}

#carousel-img-list li:nth-child(1){
    display: block;
}

/* テキスト */

#carousel-text-list{
    position: absolute;
    width: calc(60% - 1rem);
    left: calc(40% - 1rem);
    height: calc(100% - 2rem);
    font-size: 2vw;
    margin: 1rem;
}

#carousel-text p{
    font-size: clamp(.01rem, 2vw, 2rem);
    width: 100%;
}

/* 最初の一つだけを表示 */
#carousel-text-list li{
    display: none;
}

#carousel-text-list li:nth-child(1){
    display: block;
}

/* 画像切り替え */
#carousel-change{
    position: absolute;
    height: 100%;
    width: 100%;
    user-select: none;
}

#carousel-arrow,
#carousel-dots{
    position: absolute;
    display: flex;
    width: 100%;
}

/* 画像hoverで表示 */
#carousel-right-arrow:hover,
#carousel-left-arrow:hover,
#carousel-dots:hover{
    opacity: 1;
}

#carousel-img:hover #carousel-dots{
    opacity: 1;
}

/* 矢印 */
#carousel-arrow{
    justify-content: space-between;
    height: 100%;
}

#carousel-arrow p{
    padding: .25rem .5rem;
    background-color: white;
    color: gray;
    font-weight: bold;
    border-radius: 5%;
    opacity: .3;
    cursor: pointer;
}

#carousel-arrow p:hover{
    border: 1px solid white;
    opacity: .5;
    transition: all .1s;
}

#carousel-right-arrow,
#carousel-left-arrow{
    width: 20%;
    display: grid;
    place-items: center;
    color: white;
    opacity: 0;
    transition: all .5s;
}

/* 左矢印 */
#carousel-left-arrow{
    background: linear-gradient(-90deg, rgba(0,0,0,0), rgb(0,0,0,.5), rgb(0,0,0,.7));
}
#carousel-left-arrow p{
    left:0;
    text-align: left;
}

/* 右矢印 */
#carousel-right-arrow{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgb(0,0,0,.5), rgb(0,0,0,.7));
}
#carousel-right-arrow p{
    right:0;
    text-align: right;
}

/* 下の・ */
#carousel-dots{
    justify-content: center;
    bottom: .5rem;
    opacity: 0;
    width: 60%;
    gap: .5rem;

    /* 左右中央揃え */
    left: 0;
    right: 0;
    margin: 0 auto;
}

#carousel-dots p{
    border: 1px solid black;
    width: .5rem;
    height: .5rem;
    border-radius: 500%;
}

#carousel-dots p:hover{
    cursor: pointer;
}

#carousel-dots p:nth-child(1){
    background-color: black;
}