@charset "utf-8";

/* ----------全体---------- */
.zen-kurenaido-regular {
    font-family: "Zen Kurenaido", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.wrapper{
    max-width: 70%;
    margin: 0 auto;
}

/* ----------header---------- */
header{
    position: fixed;
    border-bottom: 1px solid lightgray;
    width: 100%;
    background-color: white;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    width: 100%;
    font-size: 2rem;
}

#header-logo{
    text-decoration: none;
    color: black;
    position: relative;
    user-select: none;
    transition: all .5s;
}

#header-logo:hover{
    transition: all 1s;
    letter-spacing: .1em;
}

/* ボタンを光らせる */
#logo-shine{
    content: "";
    position: fixed;

    background-color: white;
    width: 0rem;
    height: 3rem;
    overflow: hidden;
    opacity: .5;
}

#header-logo:hover #logo-shine{
    transition: all 1.5s;
    width: 6rem;
    background-color: black;
    opacity: 0;
}

/* ----------ハンバーガーメニュー---------- */
/* 共通 */
.menu{
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 1rem;
    margin-top: .5rem;
    height: 2.5rem;
    width: 2.5rem;
    transition: all .5s;
    z-index: 100;
    border-radius: 50%;
}

.menu span{
    background-color: black;
    margin: auto auto;
    width: 2rem;
    height: 2px;
    transition: all .5s;
    border-radius: 9999px;
}

.menu:hover{
    cursor: pointer;
    background-color: lightgray;
    border-radius: 5%;
}

#blackout{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: .5;
    visibility: hidden;
    z-index: 5;
}

/* 開いているとき */
#open-menu span:nth-child(1){
    rotate: 45deg;
    translate: 0 10.5px;
}
#open-menu span:nth-child(2){
    opacity: 0;
    margin: 0;
}
#open-menu span:nth-child(3){
    rotate: -45deg;
    translate: 0 -10.5px;
}

/* ----------main---------- */
/* ページ上部の画像 */
#top-image{
    width: 100%;
    height: auto;
    pointer-events: none;
    user-select: none;
    margin-top: 3rem;
}

/* セクションimg-text */
#imgs-text{
    position: relative;
    margin-top: 5rem;
    height: 100%;
    width: 100%;
}

#imgs-text h1{
    text-align: center;
    width: 100%;
}

#carousel{
    position: absolute;
    margin-top: clamp(1rem, 10vw, 1.5rem);
    width: 100%;
    aspect-ratio: 2 / 1;
}

.carousel-content{
    display: flex;
    position: absolute;
    container-type: inline;
    background-color: lightgray;
    width: 100%;
}

.carousel-content img{
    width: 40%;
    height: 40%;
    padding: 1rem;
    pointer-events: none;
}

#imgs-text p{
    font-size: clamp(.1rem, 2vw, 1rem);
    margin:clamp(.5rem, 2vh, 10rem) clamp(.5rem, 2vw, 10rem);
    width: 60%;
}