@charset "utf-8";

/* 全体 */
.zen-kurenaido-regular {
    font-family: "Zen Kurenaido", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.wrapper{
    max-width: 70%;
    margin: 0 auto;
}

/* header */
header{
    border-bottom: 1px solid lightgray;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    width: 100%;
    font-size: 2rem;
}

#header a{
    text-decoration: none;
    color: black;
}

#header p{
    user-select: none;
}