@charset "utf-8";

/* ----------全体---------- */
.zen-kurenaido-regular {
    font-family: "Zen Kurenaido", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.wrapper{
    max-width: 70%;
    margin: 0 auto;
}

/* ----------header---------- */
header{
    position: fixed;
    border-bottom: 1px solid lightgray;
    width: 100%;
    background-color: white;
    z-index: 50;
    top: 0;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.2rem;
    width: 100%;
    font-size: 2rem;
}

#header-logo{
    text-decoration: none;
    color: black;
    position: relative;
    user-select: none;
    transition: all .5s;
}

#header-logo:hover{
    transition: all 1s;
    letter-spacing: .1em;
}

/* ボタンを光らせる */
#logo-shine{
    content: "";
    position: fixed;

    background-color: white;
    width: 0rem;
    height: 3rem;
    overflow: hidden;
    opacity: .5;
}

#header-logo:hover #logo-shine{
    transition: all 1.5s;
    width: 6rem;
    background-color: black;
    opacity: 0;
}

/* ----------ハンバーガーメニュー---------- */
/* 共通 */
.menu{
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 1rem;
    margin-top: .5rem;
    height: 2.5rem;
    width: 2.5rem;
    transition: all .5s;
    z-index: 550;
    border-radius: 50%;
    top: 0;
}

.menu span{
    background-color: black;
    margin: auto auto;
    width: 2rem;
    height: 2px;
    transition: all .5s;
    border-radius: 9999px;
}

.menu:hover{
    cursor: pointer;
    background-color: lightgray;
    border-radius: 5%;
}

#blackout{
    position: fixed;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    z-index: 500;
}

#blackout-background{
    position: absolute;
    background-color: black;
    opacity: .5;
    height: 100%;
    width: 100%;
}

#blackout ul{
    position: absolute;
    list-style: none;
    margin-top: 2.75rem;
}

#blackout li{
    margin: .75rem 1.5rem;
}

#blackout a{
    color: black;
    text-decoration: none;
    user-select: none;
    background-color: rgb(255,255,255, .8);
    border-radius: 5px;
    padding: 0 .25rem;
}

#blackout a:hover{
    color: white;
    background-color: transparent;
}

/* 開いているとき */
#open-menu span:nth-child(1){
    rotate: 45deg;
    translate: 0 10.5px;
}
#open-menu span:nth-child(2){
    opacity: 0;
    margin: 0;
}
#open-menu span:nth-child(3){
    rotate: -45deg;
    translate: 0 -10.5px;
}

/* ----------main---------- */
/* 全体 */
main{
    margin-top: 3.2rem;
}

.section-title{
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;
}

.section{
    margin: 5rem auto;
}

/* ページ上部の画像 */
#top-image{
    width: 100%;
    height: 100%;
    pointer-events: none;
    user-select: none;
}

/* セクションimg-text */
#imgs-text{
    height: 100%;
    width: 100%;
}

/* ----------カルーセル---------- */
/* 共通 */
#carousel{
    position: relative;
    height: 30vw;
    width: 100%;
    background-color: lightgray;
    margin: 2rem auto 0;
    border-radius: 5px;
}

#carousel ol{
    list-style: none;
}

/* 画像 */
#carousel-img{
    user-select: none;
    position: relative;
    border: 1px solid gray;
    width: 35%;
    border-radius: 5px;
    margin: clamp(.1rem, 2vw, 1rem);
}

#carousel-content{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
}

#carousel-img-list{
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/ 1;
}

#carousel-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center bottom;
    pointer-events: none;
}

#carousel-img li{
    width: 100%;
    height: 100%;
}

/* 最初の一枚だけを表示 */

#carousel-img-list li{
    display: none;
}

#carousel-img-list li:nth-child(1){
    display: block;
}

/* テキスト */

#carousel-text-list{
    position: absolute;
    width: calc(60% - 1rem);
    left: calc(40% - 1rem);
    height: calc(100% - 2rem);
    font-size: 2vw;
    margin: 1rem;
}

#carousel-text p{
    font-size: clamp(.01rem, 2vw, 2rem);
    width: 100%;
}

/* 最初の一つだけを表示 */
#carousel-text-list li{
    display: none;
}

#carousel-text-list li:nth-child(1){
    display: block;
}

/* 画像切り替え */
#carousel-change{
    position: absolute;
    height: 100%;
    width: 100%;
    user-select: none;
}

#carousel-arrow,
#carousel-dots{
    position: absolute;
    display: flex;
    width: 100%;
}

/* 画像hoverで表示 */
#carousel-right-arrow:hover,
#carousel-left-arrow:hover,
#carousel-dots:hover{
    opacity: 1;
}

#carousel-img:hover #carousel-dots{
    opacity: 1;
}

/* 矢印 */
#carousel-arrow{
    justify-content: space-between;
    height: 100%;
}

#carousel-arrow p{
    padding: clamp(.05rem, 1vw, 1rem) clamp(.1rem, 1.25vw, 2rem);
    background-color: white;
    color: gray;
    font-weight: bold;
    font-size: clamp(.05rem, 1vw, 1rem);
    border-radius: 5%;
    opacity: .3;
    cursor: pointer;
}

#carousel-arrow p:hover{
    border: 1px solid white;
    opacity: .5;
    transition: all .1s;
}

#carousel-right-arrow,
#carousel-left-arrow{
    width: clamp(10%, 5vw, 30%);
    display: grid;
    place-items: center;
    color: white;
    opacity: 0;
    transition: all .5s;
}

/* 左矢印 */
#carousel-left-arrow{
    background: linear-gradient(to left, rgba(113, 113, 113, 0), rgb(113, 113, 113,.5), rgb(113, 113, 113,.7));
}
#carousel-left-arrow p{
    left:0;
    text-align: left;
}

/* 右矢印 */
#carousel-right-arrow{
    background: linear-gradient(to right, rgba(113, 113, 113, 0), rgb(113, 113, 113,.5), rgb(113, 113, 113,.7));
}
#carousel-right-arrow p{
    right:0;
    text-align: right;
}

/* 下の・ */
#carousel-dots{
    justify-content: center;
    bottom: .5rem;
    opacity: 0;
    width: 60%;
    gap: .5rem;
    transition: all .2s;

    /* 左右中央揃え */
    left: 0;
    right: 0;
    margin: 0 auto;
}

#carousel-dots p{
    border: 1px solid black;
    width: .5rem;
    height: .5rem;
    border-radius: 500%;
}

#carousel-dots p:hover{
    cursor: pointer;
}

#carousel-dots p:nth-child(1){
    background-color: black;
}

/* ----------gallery---------- */

/* 画像 */
#gallery-image-list{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
}


#gallery-image-list li{
    position: relative;
    width: clamp(5rem, 20vw, 20vw);
    height: clamp(7rem, 22vw, 22vw);
    background-color: white;
    overflow: hidden;
    border: 1px solid darkgray;
    border-radius: 2%;
    margin: 0 auto;
}

#gallery-image-list a{
    position: absolute;
    width: 100%;
    height: 100%;
}

#gallery-image-list img{
    position: absolute;
    width: 102%;
    height: 102%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    user-select: none;
    transition-property: width;
    transition-duration: .3s;
}

#gallery-image-list li:hover img{
    cursor: pointer;
    width: 120%;
    transition-property: width;
    transition-duration: .4s;
    transition-timing-function: ease-out;
}

.image-bottom{
    position: absolute;
    width: 100%;
    height: clamp(1rem, 2vw, 4rem);
    bottom: 0;
    background-color: lightgray;
    transition-property: opacity, height, background-color;
    transition-duration: .5s, .3s, .3s;
    transition-timing-function: ease-in;
}

#gallery-image-list li:hover .image-bottom{
    height: clamp(7rem, 22vw, 22vw);
    opacity: .5;
    background-color: black;
    transition-duration: 1s, .3s;
    cursor: pointer;
}

/* ホバー時に見えるテキスト */
#gallery-image-list p{
    position: absolute;
    text-align: center;
    color: white;
    opacity: 0;
    width: 100%;
    top: 50%;
    translate: 0 -50%;
    z-index: 100;
    transition-property: opacity;
    transition-duration: .3s;
    user-select: none;
}

#gallery-image-list li:hover p{
    opacity: 1;
    transition-delay: .2s;
    transition-duration: .3s;
}

/* text Show more... */
#gallery-text{
    display: block;
    width: 25%;
    border: 1px solid black;
    text-align: center;
    margin: 1rem auto;
    border-radius: 9999px;
    text-decoration: none;
}

#gallery-text p{
    width: 100%;
    padding: clamp(.1rem, .75vw, 2rem);
    font-size: clamp(.5rem, 2vw, 2rem);
    border-radius: 9999px;
    color: black;
    transition: all .25s;
}

#gallery-text:hover p{
    background: rgb(0,0,0,.05);
    transition: all .5s;
}

/* ----------footer---------- */
footer{
    padding: 1rem;
    background-color: gray;
    text-align: center;
}