@charset "utf-8";

/* ----------全体---------- */
.zen-kurenaido-regular {
    font-family: "Zen Kurenaido", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.wrapper{
    max-width: 70%;
    margin: 0 auto;
}

/* ----------header---------- */
header{
    position: fixed;
    border-bottom: 1px solid lightgray;
    width: 100%;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    width: 100%;
    font-size: 2rem;
}

#header-logo{
    text-decoration: none;
    color: black;
    position: relative;
    user-select: none;
    transition: all .5s;
}

#header-logo:hover{
    transition: all 1s;
    letter-spacing: .1em;
}

/* ボタンを光らせる */
#logo-shine{
    content: "";
    position: fixed;

    background-color: white;
    width: 0rem;
    height: 3rem;
    overflow: hidden;
    opacity: .5;
}

#header-logo:hover #logo-shine{
    transition: all 1.5s;
    width: 6rem;
    background-color: black;
    opacity: 0;
}

/* ----------ハンバーガーメニュー---------- */
/* 共通 */
.menu{
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 1rem;
    margin-top: .5rem;
    height: 2.5rem;
    width: 2.5rem;
    transition: all .5s;
    z-index: 100;
    border-radius: 50%;
}

.menu span{
    background-color: black;
    margin: auto auto;
    width: 2rem;
    height: 2px;
    transition: all .5s;
    border-radius: 9999px;
}

.menu:hover{
    cursor: pointer;
    background-color: lightgray;
    border-radius: 5%;
}

#blackout{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: .5;
    visibility: hidden;
    z-index: 5;
}

/* 開いているとき */
#open-menu span:nth-child(1){
    rotate: 45deg;
    translate: 0 10.5px;
}
#open-menu span:nth-child(2){
    opacity: 0;
    margin: 0;
}
#open-menu span:nth-child(3){
    rotate: -45deg;
    translate: 0 -10.5px;
}