@charset "utf-8";

/* 全体 */
.zen-kurenaido-regular {
    font-family: "Zen Kurenaido", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.wrapper{
    max-width: 70%;
    margin: 0 auto;
}

/* header */
header{
    position: fixed;
    border-bottom: 1px solid lightgray;
    width: 100%;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    width: 100%;
    font-size: 2rem;
}

#header a{
    text-decoration: none;
    color: black;
}

#header p{
    user-select: none;
}

/* ハンバーガーメニュー */
/* 共通 */
.menu{
    position: relative;
    display: flex;
    flex-direction: column;
    transition: all .5s;
}

.menu span{
    background-color: black;
    margin: 5px;
    width: 2rem;
    height: 2px;
    transition: all .5s;
}

/* 開いているとき */
#open-menu span:nth-child(1){
    rotate: 45deg;
    translate: 0 10px;
}
#open-menu span:nth-child(2){
    opacity: 0;
    margin: 0;
}
#open-menu span:nth-child(3){
    rotate: -45deg;
    translate: 0 -4px;
}